/* weather apk */
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.cityInput{
  padding: 15px;
  width: 200px;
  margin:10px;
  font-size:1rem;
}
button[type="submit"]{
  font-size: 1.4rem;
  font:bold;
  padding:10px 15px;
  border:none;
  border-radius: 8px;
  color:white;
  background-color: rgb(94, 199, 94);

}
.card{
  background: linear-gradient(180deg, rgba(111, 111, 255, 0.711), rgba(240, 182, 74, 0.865));
  padding:50px;
  border-radius: 14px;
  box-shadow:3px 3px 30px rgb(2,5,3,0.5);
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 20px;
}

p{
  font-size: 1.5rem;
  margin:10px;
  font-family: sans-serif,arial;
}
.cityDisplay ,.tempDisplay{
  font-size:3rem;
}
.descDisplay{
  font-size:3rem;
}
.humidDisplay{
  font-style:italic;
}

.emoji{
  font-size:7rem;
}
.errorDisplay{
  font-size:2 rem;
  font-weight:bold;

}
